.img-bg
    background-image: url('../images/events-bg.jpg')
    width: 100%
    height: 584px
    opacity: 1

////////////////////////////import css-variables from 



.treechefs
    display: flex
    justify-content: space-evenly

.chefpic
    img
        width: 400px
        height: 400px

.clo
   color: #c6c6c6


.infochef
    padding:  10px 20px
    display: flex 
    gap: 10px  

.namechef
    padding: 10px 20px
    border-bottom: 1px solid #4b4b4b !important


.chefnfs
    background-color: #fff
    position: absolute
    width: 350px
    height: 100px
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 15px 0px
    top: 350px
    left: 25px



.poschef
    position: relative


// ////////////////////import css-variables from 

.img-bg
    margin-top: 300px



/////////////////////////////////import css-variables from croiusel

.cro1
    display: flex
    gap: 30px
    justify-content: center
    align-items: center



//////////////////import css-variables from boder1

.batcl1
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 100px


.tbp
    
    display: flex
    align-items: center
    justify-content: center



.none
    display: block
    width: 40%
    border: 2px solid #e4e4e4
    padding: 10px


.textbuut
    display: flex
    flex-direction: column
    gap: 20px
    align-items: center

    
textarea
    width: 82%
    padding: 25px
    border: 2px solid #e4e4e4

button
    // width: 20%
    padding: 10px 40px
    border-radius: 10px
    background-color: #ffb03b
    border:  #ffb03b
    color: #fff

.imgtb
    img
        width: 430px
        height: 440px

.form2
    display: flex
    flex-wrap: wrap
    justify-content: center
    input
        margin: 10px 10px 10px
.form
    width: 60%
    display: flex !important
    padding: 40px 40px
    background-color: color(srgb 0.266667 0.266667 0.266667 / 0.03)




