.why-us
    background-color: #fffaf3

    .twhy
        color: #ffb040
        text-align: center
        background-color: #fff3e0
        font-size: 13px
        width: 90px
        border-radius: 50px
        font-weight: 700
        padding: 8px 20px

