.alllb
    display: flex
    flex-direction: column

.special
    display: flex
    position: absolute
    background-color: #fff
    z-index: 0
    img
        width: 300px
        height: 300px
    p
        width: 600px
        height: 40px
    h3
        width: 600px
        height: 40px

.iams
    display: flex

#lb1
    &:checked + .cl1
        z-index: 10

        

#lb2
    &:checked + .cl2
        z-index: 10


#lb3
    &:checked + .cl3
        z-index: 10


#lb4
    &:checked + .cl4
        z-index: 10

#lb5
    &:checked + .cl5
        z-index: 10

