.navbar
    background-color: rgba(255, 255, 255, 0)
    position: fixed
    display: flex
    top: 0
    width: 100%
    z-index: 1000
    padding: 10px 0
    padding-inline: 50px
    a
        text-decoration: none
        padding: 15px
        color: #ffffff
        font-family: Roboto, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
        &:hover
            color: #f8aa39
    h1
        font-family: Satisfy
        padding: 15px
        font-weight: 700
        font-size: 30px
        color: #ffffff
    .a1
        color: #f8aa39
    
header
    .imgcar
        width: 100%
        height: 100%
    img
        opacity: 2
    

.fontf
    font-family: Satisfy



.carousel-item
    position: relative

.t1
    position: absolute
    top:40%
    left: 30%
    p
        color: #ffffff
        width: 700px
        height: 70px
    h2
        color: white
        font-family: Satisfy
    a
        text-decoration: none
        color:  #ffffff
        padding: 8px 30px
        border: 2px #ffb03b solid
        border-radius: 50px
        &:hover
            background-color: #ffb03b
    span
        color: #ffb03b
        color: wihte
        padding: 8px 30px

.t2
    position: absolute
    top:40%
    left: 30%
    p
        color: #ffffff
        width: 700px
        height: 70px
    h2
        color: white
        font-family: Satisfy
    a
        text-decoration: none
        color:  #ffffff
        padding: 8px 30px
        border: 2px #ffb03b solid
        border-radius: 50px
        &:hover
            background-color: #ffb03b



.t3
    position: absolute
    top:40%
    left: 30%
    p
        color: #ffffff
        width: 700px
        height: 70px
    h2
        color: white
        font-family: Satisfy
    a
        text-decoration: none
        color:  #ffffff
        padding: 8px 30px
        border: 2px #ffb03b solid
        border-radius: 50px
        &:hover
            background-color: #ffb03b

    
